*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  background: #ff01;
  font-family: 'Lora',serif;
}

header{
  height: 66px;
  background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("20190908_123905_0004.png");
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

header *{
  color: #fff;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Canda', serif;
  color: #444;
}

a{
  text-decoration: none;
  color: #bebdbd;
}

a:hover{
  color: #555;
}

header .logo{
  float: left;
  height: inherit;
  margin-left: 1.2em;
}

header .container .logo-icon img{
  width:66px;
  float:left;
  height:66px;
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 50%;
}

header .logo-text{
  margin: 9px;
  font-family: 'Candal', serif;
  color: #fff;
}

header .logo-text span{
  color: #00e600;
}

header ul{

  float: right;
  margin:0px;
  padding: 0px;
  list-style: none;
}

header ul li{
  float: left;
  position: relative;
  padding: 0px;
  margin-left: 0px;
}

header ul li ul{
  position: absolute;
  top:66px;
  right:0px;
  width:180px;
  display:none;

}

header ul li a{
   display: block;
   padding: 23.5px;
   font-size: 1.1em;
   text-decoration: none;
}

header ul li a:hover{
  background: #669999;
  transition: .4s;
}

header .menu-toggle{
  display: none;
}

header ul li:hover ul{
  display:block;
}

header ul li ul li{
  width: 100%;
  height:auto;
}

header ul li ul li a{
  color: grey;
  padding: 10px;
  background:#334d4d;
}

header ul li ul li a:hover{
  color:black;
  background:grey;
}

.container .text-container{
  position:relative;
  width: 600px;
  height:600px;
  margin-top: 0px;
  margin-left: 350px;
  text-align:center;
}

.text-container h1{

  position:absolute;
  width:575px;
  margin-left: -250px;
  margin-top: 300px;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  color: #fff;
  display:inline-block;

}

.text-container a{

  position: absolute;
  border: 1px solid #fff;
  border-color: #00ffff;
  padding: 12px 20px;
  padding-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 400px;
  display: inline-block;
  color: #00ffff;
  border-radius: 8px;
  transition: 0.5s ease;
}

.text-container a:hover{
  background: #00ffff;
  color:#333;
  transform: scale(1.1);
}
.page-wrapper .post-slider{
  position: relative;
}
.post-slider .slider-title{
  text-align:center;
  margin: 30px auto;
  font-family:'Candal',serif;
}

.post-slider .post-wrapper{
  margin: 0px auto;
  width: 84%;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
  height:350px;
}

.post-wrapper .post{
  background:#fff;
  display:inline-block;
  width:300px;
  height:330px;
  margin: 0px 10px 10px 30px;
  border-radius: 5px;
  box-shadow: 2rem 2rem 2rem -2rem #000;
}

.post-wrapper .post .slider-img{
  height:200px;
  width:100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post-wrapper .post .post-info{
  max-height: 130px;
  padding: 0px 5px;
}

section {
  font-size: 25px;
  text-align: justify;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 100px;
  font-family: 'Dancing Script', cursive;
}

.post-slider .prev{
  left:30px;
  position:absolute;
  top:50%;
  left:30px;
  font-size:2em;
  cursor:pointer;
  color:#006669;
}

.post-slider .next{
  left:30px;
  position:absolute;
  top:50%;
  right:30px;
  font-size:2em;
  cursor:pointer;
  color:#006669;
}

/*Footer*/
.footer{
  background: #22262a;
  color:#fff;
  height:350px;
  width:100%;
  position: relative;
}
.footer .footer-content{
  padding:0px 10px;
  margin-left:30px;
  height:350px;
  display:flex;

}
.footer .footer-content h1,
.footer .footer-content h2{
  color:#fff;
  padding: 0px 20px;
  margin:20px 0px;
}
.footer .footer-content .logo-text span{
  color:#00e600;
}
.footer .footer-content .footer-section{
  flex:1;
}

.footer .footer-content .footer-section p{
  margin:20px 20px;
  padding: 0px 20px;
  font-size:1em;
  text-align: justify;
  font-family:'Candal', serif;
}
.footer .footer-content .footer-section .contact span{
  padding:5px 30px;
  margin: 0px 10px;
  font-size: 1.2em;
  display: block;
}
.footer .footer-content .about .social{
  padding: 2.5px 10px;
  margin: 10px 20px;
  height: 50px;
  width: 100%;
}
.footer .footer-content .about .social a{
  border: 1px solid grey;
  width:45px;
  height:40px;
  text-align:center;
  font-size:1.5em;
  display: inline-block;
  padding: 5px 5px;
  border-radius: 5px;
  margin: 0px 5px;
}

.footer .footer-content .about .social a:hover{
  color:#fff;
  border:1px solid white;
  transition: 0.3s;
}
.footer .footer-content .links{
  margin-left: 40px;
}
.footer .footer-content .links ul{
  height:200px;
  margin: 0px 20px;
  display:block;
  padding-right: 200px;
}
.footer .footer-content .links ul li{
  font-size:1.2em;
  padding: 5px 10px;
  transition: all .3s;
}
.footer .footer-content .links ul li:hover{
  margin-left:30px;
  transition: all .3s;
  color:#fff;

}
.footer .footer-content .footer-section .contact-form .text-input{

margin-left: 20px;
padding:0px 10px;
}

 .footer-section .contact-form .text-input input,textarea
 {
  padding: .7rem 1rem;
  display: block;
  width: 92%;
  border-radius:5px;
  border:1px solid #e0e0e0;
  outline:none;
  color:#444;
  line-height:1.5rem;
  font-size:1.2em;
  font-family:'Lara', serif;

 }
 .footer .footer-section .contact-form .contact-input
 {
   color:#bebdbd;
   margin-bottom:10px;
   line-height:1.5rem;
   padding: .9rem 1.4rem;
 }
.footer-section .contact-form .contact-input:focus
{
  background: #1a1a1a;
}
.btn{
  padding: .5rem 1rem;
  background: #006669;
  color:white;
  border:1px solid transparent;
  border-radius: 10px;
  margin-right: 35px;
}
.btn-big
{
  padding:.7rem 1.3rem;
  line-height:1.3;
  float:right;
  margin-top: 10px;
}
.btn:hover{
  color:white;
  background: #005255;
}



.footer .footer-end{
  position: absolute;
  height:40px;

  width:100%;
  background:#343a40;
  color:#686868;
  text-align:center;
  font-size:1.1em;
  padding:10px;

}
.footer .footer-end a{
  color:#336699;
}




/*Media settings*/

@media only screen and (max-width:750px) {
  body{
    background: #ff01;
  }
  header{
    position: relative;
    max-height: 66px;
}
header .logo .logo-text{
  padding-top:10px;
}
  header .container .logo-icon img{
    display: none;
  }
  header ul{
    width: 100%;
    background: #3d5c5c;
    max-height: 0px;
    margin-top: 0px;
    display : block;
    overflow: hidden;
  }
.showing{
    max-height: 100em;
  }
  header ul li{
    width:100%;
    margin:0px;
  }
  header ul li ul{
    position: static;

    width: 100%;
    background: inherit;
  }
  header ul li ul li a{
    padding: 10px;

    color: grey;
    padding-left: 50px;
  }
  header .menu-toggle{
    display:block;
    position: absolute;
    right:20px;
    top:20px;
    font-size: 1.9em;
    cursor: pointer;
  }
  header .logo{
    margin-left: .5em;
  }

  .container .text-container{
    display:none;
  }
  section{
    margin-top: 1.3em;
    margin-left: 1.2em;
    margin-right: 1.2em;
    font-size: 1.3em;
  }
  .footer{
    height:inherit;
  }

  .footer .footer-content{
    display:flex;
    flex-direction: column;
    height:auto;
  }
  .footer .footer-content .footer-section{
  display:block;
  min-height: 350px;
  }
  .footer .footer-end{
    display: block;
  }
}
